node_modules/
frontend/node_modules/
backend/node_modules/
.env
*.pyc
__pycache__/
dist/
build/
.DS_Store
.vscode/
.idea/
/*.log
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
sam/.aws-sam
